.container {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.card {
    position: relative;
    width: 400px;
    padding: 15px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card .pic {
    z-index: 100;
    width: 295px;
    background-size: cover;
    border-radius: 12px;
    filter: grayscale(100%);
    transition: 0.3s ease;
}

.card button {
    z-index: 200;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    outline: none;
    transition: 0.3s ease;
    opacity: 1;
}

.card h3 {
    z-index: 250;
    position: absolute;
    bottom: 25px;
    left: 25%;
    font-size: 35px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px rgba(0, 0, 0, .5);
    transition: 0.2s ease;
}

.card p {
    z-index: 250;
    position: absolute;
    bottom: 10%;
    right: 15%;
    width: 150px;
    color: #030303;
    opacity: 0;
    font-size: 12px;
    text-align: right;
    letter-spacing: 1px;
    transition: 0.2s ease;
}

.card:hover button {
    transform: scale(15);
    bottom: 18%;
    opacity: 0.7;
}

.card:hover p {
    opacity: 1;
    right: 60px;
}

.card:hover span {
    opacity: 0;
}

.card:hover .pic {
    filter: grayscale(0);
    width: 310px;
}

.text-left {
    left: -15%;
}

.text-right {
    right: 10%;
}

.card:hover .title-right {
    left: 180px;
    bottom: 70px;
}

.card:hover .title-left {
    left: 30px;
    bottom: 70px;
}